.appContainer {
  display: flex;
  flex-direction: row;
  margin-left: 0px !important;
}

/* Visitor List Search/Filter  */
.formContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  background-color: #b94c4f;
  position: fixed;
  top: 0;
  z-index: 1;
  height: 65px;
  margin-block-start: 0em;
  margin-top: 0px;
}

.formContainer > h2 {
  margin-top: 50px;
}

input {
  padding: 10px;
  width: 150px;
}

/* Visitor Details */

.visitorContainer {
  display: flex;
  flex-direction: row;
}

.visitorList-pane {
  margin-left: 0px;
  height: 700px;
  min-width: 200px;
  overflow: scroll;
  border-right: 1px solid black;
}

.visitorList {
  padding: 20px;
  margin-top: 100px;
  list-style-type: none;
}

.visitorDetails-container{
  min-width: 400px;
}

.preview-pane {
  margin: 20px;
  padding-left: 50px;
}

.visitor {
  cursor: pointer;
}

/* Heatmap */ 
.react-calendar-heatmap {
  width: 1000px;
  margin: 20px;
}

.react-calendar-heatmap .color-scale-1 { 
  fill: #d6e685; 
}
.react-calendar-heatmap .color-scale-2 { 
  fill: #8cc665; 
}
.react-calendar-heatmap .color-scale-3 {
  fill: #44a340; 
}
.react-calendar-heatmap .color-scale-4 { 
  fill: #1e6823; 
}


/* Heatmap */
.react-calendar-heatmap text {
  font-size: 10px;
  fill: #aaa;
}

.react-calendar-heatmap .react-calendar-heatmap-small-text {
  font-size: 5px;
}

.react-calendar-heatmap rect:hover {
  stroke: #555;
  stroke-width: 1px;
}

/*
 * Default color scale
 */

.react-calendar-heatmap .color-empty {
  fill: #eeeeee;
}

.react-calendar-heatmap .color-filled {
  fill: #8cc665;
}

/*
 * Github color scale
 */

.react-calendar-heatmap .color-github-20 {
  fill: #eeeeee;
}
.react-calendar-heatmap .color-github-25 {
  fill: #d6e685;
}
.react-calendar-heatmap .color-github-30 {
  fill: #8cc665;
}
.react-calendar-heatmap .color-github-35 {
  fill: #44a340;
}
.react-calendar-heatmap .color-github-40 {
  fill: #1e6823;
}

/*
 * Gitlab color scale
 */

.react-calendar-heatmap .color-gitlab-0 {
  fill: #ededed;
}
.react-calendar-heatmap .color-gitlab-1 {
  fill: #acd5f2;
}
.react-calendar-heatmap .color-gitlab-2 {
  fill: #7fa8d1;
}
.react-calendar-heatmap .color-gitlab-3 {
  fill: #49729b;
}
.react-calendar-heatmap .color-gitlab-4 {
  fill: #254e77;
}